.questions-to-answer-page {
    padding: 20px;
  font-family: Arial, sans-serif;
}

.questions-list {
  list-style-type: none;
  padding: 0;
}

.question-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.question-link {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  cursor: pointer;
}

.question-link:hover {
  color: #0056b3;
  text-decoration: underline;
}